:root {
  --color-principal: #5F4DEE;
  --color-secundario: #FFFFFF;
  --color-subtitulos: #32373E;
  --color-precios: #2B4DFF;
  --color-background-section: #F5F6FB;
  --color-texto-secundario: #76838C;
}

.btn-main-white, .btn-modal-white {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  transition: all 250ms;
  background-color: var(--color-secundario);
  color: var(--color-principal);
  padding: 1rem 3rem;
  border-radius: 3rem;
  border: 1px solid var(--color-secundario);
}
.btn-main-white:hover, .btn-modal-white:hover {
  background-color: transparent;
  color: var(--color-secundario);
}

.btn-main-transparent, .btn-secundario-transparent, .btn-secundario-purple, .btn-modal-purple {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  transition: all 250ms;
  background-color: transparent;
  color: var(--color-secundario);
  padding: 1rem 3rem;
  border-radius: 3rem;
  border: 1px solid var(--color-secundario);
}
.btn-main-transparent:hover, .btn-secundario-transparent:hover, .btn-secundario-purple:hover, .btn-modal-purple:hover {
  background-color: var(--color-secundario);
  color: var(--color-principal);
}

.btn-secundario-transparent, .btn-secundario-purple, .btn-modal-purple {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  transition: all 250ms;
  padding: 0.2rem 1.5rem;
}

.btn-secundario-purple, .btn-modal-purple {
  background-color: var(--color-principal);
  padding: 1rem 2.2rem;
}

.btn-modal-white {
  border: 1px solid var(--color-principal);
}
.btn-modal-white:hover {
  background-color: var(--color-principal);
}

.btn-modal-purple:hover {
  border: 1px solid var(--color-principal);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--color-secundario);
  font-size: 56px;
  font-weight: 600;
  line-height: 70px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--color-subtitulos);
  font-size: 32px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--color-subtitulos);
}

.text-header {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--color-secundario);
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: var(--color-principal);
  font-size: 13px;
}

:root {
  --color-principal: #5F4DEE;
  --color-secundario: #FFFFFF;
  --color-subtitulos: #32373E;
  --color-precios: #2B4DFF;
  --color-background-section: #F5F6FB;
  --color-texto-secundario: #76838C;
}

/*HEADER Y NAVEGADOR*/
.header {
  background-color: var(--color-principal);
  min-height: 10vh;
  position: relative;
}
.header .navbar {
  padding: 1.5rem 1.2rem;
  background-color: var(--color-principal);
}
.header .nav-link, .header .drop {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  opacity: 0.7;
}
.header .nav-link:hover, .header .drop:hover {
  opacity: 1;
}
.header .nav-link:focus, .header .drop:focus {
  opacity: 1;
}
.header .dropdown-item {
  opacity: 0.7;
}
.header .dropdown-item:hover {
  opacity: 1;
  background-color: transparent;
}
.header .dropdown-menu {
  background-color: var(--color-principal);
}
.header .img-header {
  transform: rotate(3deg);
  filter: drop-shadow(0px 0px 15px #32373E);
  margin: 2rem auto;
}
.header .container-header {
  padding-top: 10rem;
}
.header .container-header .row-header h1 {
  width: 80%;
}
.header .container-header .row-header p {
  width: 90%;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding: 1.5rem 0.5rem;
  }
  .header .img-header {
    transform: rotate(0deg);
    margin-top: 2rem;
  }
  .header .container-header {
    padding-top: 5rem;
  }
  .header .container-header .row-header {
    text-align: center;
  }
  .header .container-header .row-header h1 {
    font-size: 2em;
    line-height: 1.5em;
    width: 20rem;
    margin: 0 auto;
    padding-right: 2rem;
  }
  .header .container-header .row-header p {
    font-size: 1em;
    text-align: center;
    width: 100%;
    padding-right: 1rem;
  }
  .header .container-header .row-header button {
    margin: 0.5em 0em;
  }
}
/*DESCRIPTION*/
.description {
  margin-top: 6rem;
}
.description h6 {
  font-weight: bold;
}
.description h2 {
  width: 50%;
}
.description p {
  font-size: 16px;
  font-family: "Open Sans";
  width: 70%;
}

@media screen and (max-width: 991px) {
  .description h2 {
    width: 80%;
  }
  .card-description {
    flex-direction: column;
  }
}
/*FEATURES*/
.features {
  background-color: var(--color-background-section);
  padding: 3rem 0rem;
}
.features p {
  width: 50%;
  font-family: "Open Sans";
  font-size: 16px;
  color: #5d636b;
}
.features .feature-list {
  font-family: "Open Sans";
  padding-top: 1.5rem;
  padding-inline: 0.8rem;
  font-size: 20px;
  color: #76838C;
  font-weight: bold;
  transition: all 250ms;
  position: relative;
}
.features .feature-list:hover {
  cursor: pointer;
  color: var(--color-principal);
}
.features .feature-list i {
  font-size: 20px;
}
.features .feature-list::before {
  content: "";
  position: absolute;
  width: 140%;
  height: 2px;
  background-color: var(--color-texto-secundario);
  bottom: -5px;
  left: -25px;
}
.features .feature-list:hover::before {
  background-color: var(--color-principal);
  width: 140%;
}
.features img {
  width: 500px;
  height: 350px;
}
.features .features-content p {
  width: 90%;
}
.features .features-content li {
  font-family: "Open Sans";
  font-size: 16px;
  color: #5d636b;
  list-style: square;
}
.features .features-content li::marker {
  color: var(--color-principal);
  font-size: 1.3em;
}
.features .features-text {
  gap: 0.4rem;
}

@media screen and (max-width: 991px) {
  .features-content h2 {
    text-align: start;
    margin-top: 1.5rem;
  }
  .features-content p {
    width: 350px;
    text-align: start;
  }
  .features p {
    width: 95%;
  }
  .features img {
    width: 95%;
    height: 95%;
  }
  .features .features-text {
    gap: 1rem;
  }
  .features .feature-list {
    padding-inline: 0.4rem;
  }
}
.article-feature {
  padding: 6rem 0rem;
}
.article-feature img {
  width: 550px;
  height: 400px;
}
.article-feature h2 {
  width: 90%;
}
.article-feature p {
  width: 85%;
  font-family: "Open Sans";
  font-size: 16px;
  color: #5d636b;
}
.article-feature li {
  font-family: "Open Sans";
  font-size: 16px;
  color: #5d636b;
  list-style: square;
}
.article-feature li::marker {
  color: var(--color-principal);
  font-size: 1.3em;
}

/*MODAL*/
.modal-article {
  min-height: 42rem;
  min-width: 68rem;
}
.modal-article img {
  width: 672px;
  height: 578px;
}
.modal-article .modal-title {
  position: relative;
  margin-bottom: 2rem;
  font-size: 28px;
}
.modal-article .modal-title::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 2px;
  background-color: var(--color-principal);
  bottom: -10px;
}
.modal-article .modal-subtitle {
  font-size: 24px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.modal-article .list-modal {
  list-style: none;
}
.modal-article .list-modal i {
  font-size: 1.3rem;
  color: var(--color-principal);
  font-weight: bold;
}
.modal-article button {
  padding: 0.8rem 2.3rem;
  margin-top: 1rem;
}

@media screen and (max-width: 1100px) {
  .article-feature {
    padding: 2rem 0rem 4rem;
  }
  .article-feature img {
    width: 100%;
    height: 100%;
  }
  .modal-article {
    min-height: 42rem;
    min-width: 30rem;
  }
  .modal-contenido {
    flex-direction: column;
    padding: 1rem 0.5rem;
  }
  .modal-contenido img {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .modal-article {
    min-height: 42rem;
    min-width: 20rem;
  }
}
/*VIDEO*/
.section-video {
  background-color: var(--color-background-section);
  min-height: auto;
}
.section-video .content-video {
  padding-top: 9rem;
}
.section-video .content-video .video {
  position: relative;
  min-height: 90%;
  min-height: fit-content;
}
.section-video .content-video img {
  width: 1116px;
  height: 633px;
  padding-bottom: 2.5rem;
}
.section-video .content-video .play {
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--color-principal);
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.section-video .content-video .play::before {
  content: "";
  position: absolute;
  z-index: 4;
  border-left: 30px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  bottom: 15px;
  left: 25px;
}
.section-video .content-video .play::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  z-index: 0;
  border-radius: 50%;
  background-color: var(--color-principal);
  animation: pulse 1.2s ease infinite;
}
.section-video .content-video p {
  width: 50%;
  font-size: 16px;
  font-family: "Open Sans";
  color: var(--color-texto-secundario);
  padding-bottom: 5rem;
}

@media screen and (max-width: 1100px) {
  .section-video .content-video {
    padding-top: 0rem;
  }
  .section-video .content-video img {
    width: 600px;
    height: 200px;
    margin-top: 4rem;
    padding-bottom: 1rem;
  }
  .section-video .content-video p {
    width: 100%;
    padding-top: 1rem;
  }
  .section-video .content-video .play {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--color-principal);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}
@keyframes pulse {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
    opacity: 0;
  }
}
/*TARJETAS*/
.card-price h5 {
  font-family: "Open Sans";
  font-size: 20px;
  color: var(--color-precios);
  font-weight: 700;
}
.card-price h6 {
  font-family: "Open Sans";
  font-size: 52px;
  color: black;
  font-weight: 700;
  line-height: 50px;
}
.card-price p {
  font-family: "Open Sans";
  font-size: 14px;
  color: var(--color-texto-secundario);
}
.card-price li {
  line-height: 35px;
  letter-spacing: 0.8px;
  font-family: "Open Sans";
  font-size: 16px;
}
.card-price li .check {
  color: var(--color-principal);
  font-size: 1.3rem;
}
.card-price li .cross {
  color: var(--color-texto-secundario);
  font-size: 1.3rem;
}

/*TESTIMONIOS*/
.testimonio {
  max-width: 80%;
}
.testimonio img {
  border-radius: 50%;
}
.testimonio p {
  font-family: "Open Sans";
  font-style: italic;
  color: var(--color-texto-secundario);
  font-size: 16px;
}

@media screen and (max-width: 991px) {
  .testimonios {
    flex-direction: column;
    text-align: center;
    gap: 5px;
    margin: 0 auto;
  }
  .testimonios img {
    width: 45%;
    height: 45%;
  }
  .testimonios strong {
    margin: 0 auto;
  }
}
/*FORMULARIO EMAIL*/
.contenedor-email {
  background-color: var(--color-background-section);
}
.contenedor-email h2 {
  width: 40%;
}
.contenedor-email .form-email {
  width: 43%;
}
.contenedor-email .form-check {
  width: 43%;
}
.contenedor-email .form-check label {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: var(--color-texto-secundario);
}
.contenedor-email .form-check label a {
  color: var(--color-texto-secundario);
}
.contenedor-email a {
  width: 45%;
}

.redes {
  font-size: 1.5rem;
  color: white;
  background-color: var(--color-principal);
  border-radius: 50%;
  padding: 7px 11px;
  transition: all 250ms;
}
.redes:hover {
  background-color: var(--color-background-section);
  color: var(--color-principal);
}

@media screen and (max-width: 991px) {
  .contenedor-email h2 {
    width: 80%;
  }
  .contenedor-email .form-email {
    width: 80%;
  }
  .contenedor-email .form-check {
    width: 80%;
  }
  .contenedor-email a {
    width: 80%;
  }
}
/*FOOTER*/
.footer-bg {
  background-color: var(--color-principal);
}
.footer-bg .primary {
  width: 30%;
}
.footer-bg .secondary p {
  line-height: 9px;
  margin-top: 8px;
}
.footer-bg .third {
  display: flex;
  align-items: flex-end;
}
.footer-bg .third .redes-footer {
  font-size: 1.5rem;
  color: var(--color-principal);
  background-color: var(--color-secundario);
  border-radius: 50%;
  padding: 7px 11px;
  transition: all 250ms;
}
.footer-bg .third .redes-footer:hover {
  background-color: var(--color-principal);
  color: var(--color-secundario);
}
.footer-bg .third p {
  margin-top: 0.8rem;
  line-height: 5px;
}

@media screen and (max-width: 991px) {
  .contenedor-footer {
    flex-direction: column;
  }
  .contenedor-footer .primary {
    width: 80%;
  }
  .contenedor-footer .third {
    align-items: flex-start;
  }
}
/*SIGN UP*/
.aside-sign-up {
  background-color: var(--color-principal);
  min-height: 24vh;
}

.bg-formulario {
  min-height: 55vh;
}
.bg-formulario .contenedor-form {
  background-color: var(--color-background-section);
  width: 550px;
  height: 400px;
}
.bg-formulario .contenedor-form p {
  font-family: "Open Sans";
  color: var(--color-texto-secundario);
}
.bg-formulario .contenedor-form input {
  width: 500px;
}
.bg-formulario .contenedor-form input[type=button] {
  margin-top: 1rem;
}
.bg-formulario .contenedor-form label {
  color: var(--color-texto-secundario);
}

@media screen and (max-width: 991px) {
  .bg-formulario {
    margin-bottom: 6rem;
  }
  .bg-formulario .contenedor-form {
    width: 360px;
    height: 400px;
  }
  .bg-formulario .contenedor-form input {
    width: 300px;
  }
  .bg-formulario .contenedor-form a {
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
